/* generic */
*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    color: #732104;
    padding-inline: 15px;
}
h1, h2, h3, h4 {
    font-weight: bold;
    text-transform: capitalize;
}
h1, h2, h3{
    text-align: center;
}
h1{
    margin-bottom: 30px;
}
p{
    margin-bottom: 30px;
    line-height: 1.2;
}
.bg{
    background-color: #fef7e2;
}
.btnBg{
    background-color: #ffdf7f;
}

/* mq 480px 768px 1024px 1200px*/

/* Header section */
#menu li:nth-child(3) {
    order: -1;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    font-size: 2rem;
    width: 100%;
}
#logo img{

}

#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5%;
    padding: 20px;
    gap: 20px;
}
#menu li{
    list-style: none;
    border-radius: 50px;
    font-weight: bold;
    padding: 10px 20px;
    width: 45%;
    text-transform: capitalize;
    text-align: center;
}


@media screen and (min-width: 768px){
    #menu{
        gap: 10px;
    }
    #menu li:nth-child(3){
        order: unset;
        width: 18%;
    }
    #menu li{
        list-style: none;
        border-radius: 50px;
        font-weight: bold;
        padding: 10px 20px;
        width: 18%;
        text-transform: capitalize;
    }    
}
@media screen and (min-width: 1024px){
    header{
        position: fixed;
        top: 0;
        bottom: 0;
    }
    main{
        margin-left: 250px;
    }
    #logo{
        order: -1;
    }
    #menu{
        flex-direction: column;
        align-items: unset;

    }
    #menu li{
        width: unset;
    }
    #menu li:nth-child(3) {
        width: unset;
    }        
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}
.card{
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    max-width: 350px;
}
.card img{
    background-size: cover;
    width: 100%;
}
.card .content{
    display: flex;
    padding: 15px 40px;
    margin-bottom: 15px;
}
.card .content .title{
    text-align: start;
    flex-grow: 1;
}
.card button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
@media screen and (min-width: 768px){
    .container{
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (min-width: 1024px){
    .card{
        max-width: 300px;
    }
}

/* main section */



/*aside section */
section{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 30px;
}
section p{
    text-align: start;
    font-size: 1.2rem;
}

@media screen and (min-width: 1200px){
    section{
        flex-direction: row;
        gap: 20px;
    }
    section img{
        order: -1;
    }  
}